html,
body,
h1,
input,
select {
    font-family: arial, sans-serif
}


h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.3
}

body {
    margin: 0;
    background: #fff;
    color: #202124;
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1)
}

a:visited {
    color: #681da8
}


cite,
cite a:link,
cite a:visited {
    color: #4d5156;
    font-style: normal
}

button {
    margin: 0
}


input {
    font-size: 14px
}

em {
    font-weight: bold;
    font-style: normal
}

.aCOpRe em,
.yXK7lf em {
    color: #5f6368;
}

html:not(.zAoYTe) [tabindex] {
    outline: 0
}

html:not(.zAoYTe) [href],
html:not(.zAoYTe) button,
html:not(.zAoYTe) iframe,
html:not(.zAoYTe) input,
html:not(.zAoYTe) select,
html:not(.zAoYTe) textarea {
    outline: 0
}


.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px
}

.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%
}

:root {}


.iUh30 {
    font-size: 12px;
    line-height: 1.3
}


.g {
    font-family: arial, sans-serif;
    font-size: 14px;
}

.g {
    line-height: 1.58;
    text-align: left
}

.g {
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
}

.iUh30 {
    padding-top: 1px;
}


.tF2Cxc {
    position: relative
}


.yuRUbf {
    font-weight: normal;
    font-size: small;
    line-height: 1.58;
}


.uo4vr {
    color: #70757a;
    line-height: 1.58
}

.TbwUpd {
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 1px;
    -webkit-text-size-adjust: none
}

.NJjxre {
    position: absolute;
    left: 0;
    top: 0
}

.rsGxI.Ww4FFb,
.Ww4FFb {
    background-color: #fff;
    border-size: 0px;
    border-radius: 0px;
    box-shadow: 0px
}


.vt6azd {
    margin: 0px 0px 8px;
    margin: 0px 0px 30px;
}


.tF2Cxc.asEBEc {
    margin-bottom: 30px
}

.N54PNb {
    position: relative
}

.cvP2Ce {
    contain: layout paint;
    overflow: hidden;
}

.kb0PBd {
    display: block;
    flex: 0 0 auto
}

.byrV5b {
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row
}


.BToiNc {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: start;
    justify-content: start
}


.LC20lb {
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 3px;
}

.DKV0Md {
    padding-top: 4px;
    padding-top: 5px;
}

.DKV0Md {
    margin-top: 18px;
}


.TbwUpd.ojE3Fb {
    display: flex;
    padding: 0;
    align-items: center;
    padding-bottom: 0
}


.GvPZzd {
    font-size: 12px;
    line-height: 18px;
}

.VuuXrf {
    color: #202124;
    font-size: 14px;
    display: block;
    line-height: 20px;
    white-space: nowrap;
}

.H9lube {
    background-color: #f1f3f4;
    border: 1px solid #ecedef;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin-right: 12px;
    vertical-align: middle;
}

.eqA2re.NjwKYd {
    margin-right: 0
}

.Vwoesf:not(.oRVWZ) {
    display: inline-block
}

.Vwoesf {
    vertical-align: middle
}

.XNo5Ab.XNo5Ab {
    display: block;
}

.ob9lvb {
    color: #4d5156
}

.dyjrff {
    color: #4d5156
}

.B6fmyf {
    position: absolute;
    top: 0;
    height: 0;
    visibility: hidden;
    white-space: nowrap
}

.B6fmyf.Mg1HEd {
    height: auto
}

.eFM0qc {
    display: inline-flex;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 2px;
    visibility: visible;
    align-items: center
}

.eFM0qc.BCF2pd {
    align-items: center;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.csDOgf {
    display: inline;
    visibility: visible
}