* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: #000000;
    width: 300px;
    height: 350px;
}
h4 {
  font-size: small;
}
#topBar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #383838;
    color: white;
}

.switchDiv,
#underTitle {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#settings {
    height: 100%;
    width: 100%;
    padding: 5%;
    background: #1f1f1f;
    color: white;
    display: flex;
    flex-direction: column;
}

label {
    font-size: large;
    padding-bottom: 2%;
}
.settingElement {   
    margin-bottom: 5%;
}

input[type="range"] {
    width: 100%;
}

#transferFromSimpleMode {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16ch;
    height: 40px;
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #eee;
    position: absolute;
    z-index: 200;
    bottom: 2.5%;
    left: 2.5%;
    box-shadow: 0px 0px 5px rgb(137, 52, 168), 0px 0px 3px white; 
}

#textareaDiv{
    width: 100%;
    height: 100%;
}

.CodeMirror {
    height: 100% !important;
    width: 100%;
    font-size: medium;
}
textarea {
    height: 100%;
}

/* notice */
#noticeContainer{
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    height:20px
}
#notice{
    font-size: small;
    color:#eee;
    padding:1%
}

/* color container */
#color-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/* Color Picker */
#borderColor-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #borderColor-input::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
  }
  #borderColor-input::-moz-color-swatch {
    border-radius: 10px;
    border: none;
  }
/* Color-Code textfield */

#color-code{
    appearance: none;
    background: none;
    border: none;
    padding: 1%;
    color: #eee;
    border-bottom: 1px solid rgb(214, 214, 214);
    direction: revert;
    width: 7.5ch;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5%;
}
  
/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the toggleSwitch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The toggleSwitch */
  .toggleSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    scale: 0.6
  }
  
  .toggleSwitch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:not(:checked) + .toggleSwitch {
    background-color: #151515 !important;
  }
  
  input:checked + .toggleSwitch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded toggleSwitchs */
  .toggleSwitch.round {
    border-radius: 34px;
  }
  
  .toggleSwitch.round:before {
    border-radius: 50%;
  }